In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [75]:
data = pd.read_excel('titanic3.xls')

In [76]:
data20 = data['age'] < 20

In [77]:
data20

0       False
1        True
2        True
3       False
4       False
        ...
1304     True
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [78]:
data30 =(data['age'] > 20) & (data['age'] < 30)

In [79]:
data30

0        True
1       False
2       False
3       False
4        True
        ...
1304    False
1305    False
1306     True
1307     True
1308     True
Name: age, Length: 1309, dtype: bool

In [80]:
data40 =(data['age'] > 30) & (data['age'] < 40)

In [81]:
data40

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [82]:
dataPlus40 =data['age'] > 40

In [83]:
dataPlus40

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [84]:
# En procédant comme cela nous avons 4 data set différents -> il aurait fallu utilisé la fonction loc pour faire du booléen indexing
dataBis = data.drop(['name', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1)
data = data.drop(['name', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1)
data.head()

   pclass  survived     sex      age
0       1         1  female  29.0000
1       1         1    male   0.9167
2       1         0  female   2.0000
3       1         0    male  30.0000
4       1         0  female  25.0000

In [85]:
data.loc[data['age'] <= 20, 'age'] = 0
data.loc[(data['age'] > 20) & (data['age'] <= 30), 'age'] = 1
data.loc[(data['age'] > 30) & (data['age'] <= 40), 'age'] = 2
data.loc[data['age'] > 40, 'age'] = 3

In [86]:
data.head()

   pclass  survived     sex  age
0       1         1  female  1.0
1       1         1    male  0.0
2       1         0  female  0.0
3       1         0    male  1.0
4       1         0  female  1.0

In [87]:
data['age'].value_counts()

1.0    361
0.0    248
3.0    227
2.0    210
Name: age, dtype: int64

In [93]:
data.groupby(['age']).mean()

       pclass  survived
age
0.0  2.568548  0.459677
1.0  2.371191  0.371191
2.0  2.109524  0.423810
3.0  1.643172  0.396476

In [94]:
# Autre façon de répondre en utilisant map qui est très puissant avec pandas

In [95]:
# il faut définir une fonction catégorie age

In [96]:
def category_age(age):
    if age <= 20:
        return '<20 ans'
    elif (age > 20) & (age <=30):
        return '20-30 ans'
    elif (age > 30) & (age <= 40):
        return '30-40 ans'
    else:
        return '+40 ans'

In [97]:
dataBis['age'].map(category_age)

0       20-30 ans
1         <20 ans
2         <20 ans
3       20-30 ans
4       20-30 ans
          ...
1304      <20 ans
1305      +40 ans
1306    20-30 ans
1307    20-30 ans
1308    20-30 ans
Name: age, Length: 1309, dtype: object